.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
.center{
    text-align: center;
  }
  /* .place-form__actions {
    margin-top: 1rem;
    text-align: right;
  }
  .place-form__actions button {
    margin: 0 0.5rem;
  }
  .place-form__image {
    width: 100%;
    margin: 1rem 0;
  }
  .place-form__image-upload {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    overflow: hidden;
  }
  .place-form__image-upload:hover {
    background: #f7f7f7;
  }
  .place-form__image-upload img {
    width: 100%;
    height: 100%;
  }
  .place-form__image-upload input {
    display: none;
  }
  .place-form__map {
    margin: 1rem 0;
} */
  